PROFILE=prod

# MongoDB (service-one)
SERVICE_ONE_MONGO_USER=
SERVICE_ONE_MONGO_PASS=
SERVICE_ONE_MONGO_DB=

# MySQL (service-two)
SERVICE_TWO_MYSQL_ROOT_PASSWORD=
SERVICE_TWO_MYSQL_DATABASE=
SERVICE_TWO_MYSQL_USER=
SERVICE_TWO_MYSQL_PASSWORD=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASS=

# Elasticsearch
ELASTIC_PASSWORD=
